
.touch-callout-none {
  -webkit-touch-callout: none;
}

button:focus {
  outline:0 !important;
}

.break-word, .btn, span {
  white-space: normal !important;
  -ms-word-break: break-all;
  word-break: break-all;
  word-wrap: break-word;
}

.pre-wrap {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.border {
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.btn-red {
  color: #fff;
  background-color: #FC3C35;
  border-color: #E13531;
}
